.env
/.idea
/lbs_order_service/vendor
/lbs_order_service/config/config.db.ini
/lbs_auth_service/vendor
/lbs_auth_service/config/config.php
/lbs_auth_service/config/config.db.ini
/lbs_frontoffice_service/vendor
/lbs_frontoffice_service/config/config.php
/lbs_frontoffice_service/config/config.db.ini
/lbs_catalogue_service/data
.DS_Store
