RewriteEngine On
#
# RewriteBase indispensable sur webetu :

#RewriteBase /www/canals5/phox


#
# Pour interdire l'accès aux répertoires contenant du code
#RewriteRule ^sql(/.*|)$ - [NC,F]
#RewriteRule ^src(/.*|)$ - [NC,F]

#
# réécriture pour slim

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]